<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <h1>Registration Form</h1>
        <input type="text" name="name" placeholder="Enter your name">
        <input type="number" name="age" placeholder="Enter your age">
        <input type="text" name="degree" placeholder="Enter your dgreee name">
        <input type="number" name="contact" placeholder="Contact number ">
        <input type="text" name="recent" placeholder="Enter your graduation year">
        <button type="submit">Submit</button>
    </form>
</body>
</html>